name: Pull actions

on:
  pull_request:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
        - uses: "actions/checkout@v2"

        - name: HACS validation
          uses: "hacs/action@main"
          with:
            category: "integration"
            ignore: brands

        - name: Hassfest validation
          uses: "home-assistant/actions/hassfest@master"

  style:
    runs-on: "ubuntu-latest"
    name: Check style formatting
    steps:
        - uses: "actions/checkout@v2"
        - uses: "actions/setup-python@v4"
          with:
            python-version: "3.12"
        - run: python3 -m pip install black ruff
        - run: black --check .
        - run: ruff check .

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
        - uses: "actions/checkout@v2"
        - uses: "actions/setup-python@v4"
          with:
            python-version: "3.12"
        - name: Install dependencies
          run: |
            python3 -m pip install pytest pytest-homeassistant-custom-component pytest-asyncio
            python3 -m pip install -r requirements.txt
        - name: Run tests
          run: pytest tests
